*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(24, 18, 18);
    color: rgb(219, 216, 216);
    display: grid;
    place-items: center;
}